  /**
  Animacion donde los objetos aparecen de abajo hacia arriba
  */
  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .slide-up {
    overflow: hidden;
    display: inline-block;
    animation: slideUp 2.5s ease forwards;
  }

  /**
  Animacion donde los objetos aparecen de dercha a izquierda
  */
  @keyframes slideStart {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .slide-start {
    overflow: hidden;
    display: inline-block;
    animation: slideStart 1s ease forwards;
  }